<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>VitaminSEE</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<false/>
	<key>AMCategory</key>
	<string>Thumbnail</string>
	<key>AMDefaultParameters</key>
	<dict/>
	<key>AMDescription</key>
	<dict>
		<key>AMDInput</key>
		<string>Image Files</string>
		<key>AMDRelatedActions</key>
		<string>org.elliotglaysher.VitaminSEE.Automator.RemoveIcon</string>
		<key>AMDSummary</key>
		<string>For each image file passed in, set the icon to a thumbnail of the image.</string>
	</dict>
	<key>AMIconName</key>
	<string></string>
	<key>AMKeywords</key>
	<array>
		<string>Add</string>
		<string>Thumbnail</string>
		<string>Icon</string>
	</array>
	<key>AMName</key>
	<string>Set Icon to Thumbnail</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AddIcon</string>
	<key>CFBundleGetInfoString</key>
	<string>AddIcon version 1.0, Copyright (c) 2005, Elliot Glaysher.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.elliotglaysher.VitaminSEE.Automator.AddIcon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AddIcon</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>AddIcon</string>
</dict>
</plist>
