<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>VitaminSEE</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<true/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>Desktop Picture</string>
	<key>AMDefaultParameters</key>
	<dict/>
	<key>AMDescription</key>
	<dict>
		<key>AMDInput</key>
		<string>Folder</string>
		<key>AMDOptions</key>
		<string>AMDOptions</string>
		<key>AMDRelatedActions</key>
		<string>com.apple.Automator.SetDesktopPicture</string>
		<key>AMDSummary</key>
		<string>Use the specified folder as the source for desktop backgrounds.</string>
	</dict>
	<key>AMIconName</key>
	<string>DesktopFolderIcon</string>
	<key>AMKeywords</key>
	<array>
		<string>Wallpaper</string>
		<string>Desktop Background</string>
	</array>
	<key>AMName</key>
	<string>Set Folder as Source for Desktop Backgrounds</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SetWallpaperFolder</string>
	<key>CFBundleGetInfoString</key>
	<string>SetWallpaperFolder version 1.0, Copyright (c) 2005, Elliot Glaysher.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.elliotglaysher.VitaminSEE.Automator.SetWallpaperFolder</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SetWallpaperFolder</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>SetWallpaperFolder</string>
</dict>
</plist>
