<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>companyAddress</key>
	<string></string>
	<key>companyCountry</key>
	<string></string>
	<key>companyEmail</key>
	<string>glaysher@umich.edu</string>
	<key>companyFax</key>
	<string></string>
	<key>companyName</key>
	<string>Elliot Glaysher</string>
	<key>companyPhone</key>
	<string></string>
	<key>companyWebSite</key>
	<string>http://www.umich.edu/~glaysher/</string>
	<key>fileBundleID</key>
	<string>org.elliotglaysher.VitaminSEE</string>
	<key>fileCreator</key>
	<string></string>
	<key>fileReleaseDateD</key>
	<string>05</string>
	<key>fileReleaseDateM</key>
	<string>04</string>
	<key>fileReleaseDateY</key>
	<string>2005</string>
	<key>fileType</key>
	<string>APPL</string>
	<key>padVersion</key>
	<string>1</string>
	<key>productDescLong</key>
	<string>VitaminSEE is an image viewer that focuses on speed. It has sorting features and the ability to add IPTC keywords to JPEG files. It generates thumbnails for all supported image files (which will then be used by the Finder).</string>
	<key>productDescShort</key>
	<string>VitaminSEE is an image viewer that focuses on user responsiveness and speed.</string>
	<key>productDownloadURL</key>
	<array>
		<string>http://www.umich.edu/~glaysher/VitaminSEE%200.5.3.dmg</string>
	</array>
	<key>productFileSize</key>
	<string>480Kb</string>
	<key>productKeywords</key>
	<array>
		<string>image</string>
		<string>browser</string>
		<string>viewer</string>
		<string>JPEG</string>
		<string>TIFF</string>
		<string>PNG</string>
	</array>
	<key>productLanguages</key>
	<array>
		<string>English</string>
	</array>
	<key>productLicense</key>
	<string></string>
	<key>productName</key>
	<string>VitaminSEE</string>
	<key>productOS</key>
	<array>
		<string>10.3</string>
	</array>
	<key>productPageURL</key>
	<string>http://www.umich.edu/~glaysher/VitaminSEE.html</string>
	<key>productPrice</key>
	<string>0</string>
	<key>productReleaseNotes</key>
	<string></string>
	<key>productRequirements</key>
	<string>Mac OS 10.3 or Latter</string>
	<key>productVersion</key>
	<string>0.5.3</string>
</dict>
</plist>
